@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-spinners::-webkit-outer-spin-button,
.hide-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.smoothe-slow {
  transition-property: all;
  transition-duration: 500ms;
}

.smoothe {
    transition-property: all;
    transition-duration: 200ms;
}

.smoothe-fast {
  transition-property: all;
  transition-duration: 100ms;
}

.hide-spinners {
    -moz-appearance: textfield;
  }

.graphiql-doc-explorer .doc-category-title[data-category-name="all schema types"] {
  display: none;
}